<section class="how section">
  <div class="how__wrap" style="background-image: url({{how_bg}});">
    {{mixins.icon('text')}}
    <div class="container">
      <div class="how__title">
        Как это происходит
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10 col-sm-12 col-xs-12">
          <div class="how__stepper" style="background-image: url({{dashLine}});">
            <div class="inf_ico" style="background-image: url({{inf_ico}});"></div>
            <div class="how__descriptions">
              <ul class="how__descriptions-list js_descriptions">
                <li class="num_1">Приезжаете в центр</li>
                <li class="num_2">Вас ждет отдельный кабинет <br> и закрепленный специалист</li>
                <li class="num_3">Проводится проверка кожного покрова</li>
                <li class="num_4">Получение результатов дерматоскопии</li>
                <li class="num_5">Консультация косметолога</li>
                <li class="num_6"> Вы проходите три процедуры:<br>
                  1. Очищения <br>
                  2. Увлажнение на уровне клетки <br>
                  3. Закрепление результата</li>
                <li class="num_7">Закрепление результата</li>
              </ul>
            </div>
            <ul class="how__numbers js_step_list">
              <li data-number="num_1" style="background-image: url({{number}});">
                <span>1</span>
              </li>
              <li data-number="num_3" style="background-image: url({{number}});">
                <span>3</span>
              </li>
              <li data-number="num_5" style="background-image: url({{number}});">
                <span>5</span>
              </li>
              <li data-number="num_7" style="background-image: url({{number}});">
                <span>7</span>
              </li>
              <li data-number="num_2" style="background-image: url({{number}});">
                <span>2</span>
              </li>
              <li data-number="num_4" style="background-image: url({{number}});">
                <span>4</span>
              </li>
              <li data-number="num_6" style="background-image: url({{number}});">
                <span>6</span>
              </li>
            </ul>
          </div>
          <a href=".mod_main" data-form="Блок -Как это происходит-" class="how__button js_popup js_value" onclick="gtag('event', 'clickdopphone', { 'event_category': 'Knopka11', 'event_action': 'Najatie11', });">Записаться</a>
        </div>
      </div>
    </div>
  </div>
</section>
